<div *ngIf = "fpb" 
[style.position]="btp"
[style.overflow]="bto"
[style.width]="bw"
>
    <div *ngIf ="ibi; else bsc">
    <div 
    [defaultImage]="bdi" 
    [lazyLoad]="bi" 
    [offset]="bo"
    [style.background-repeat]="br"
    
    [style.background-size]="bs"
    [style.background-position]="bgp"
    [style.position]="bp"
    [style.height]="bh"
    [style.width]="bw"
    >
    </div>
    </div>
    <ng-template #bsc>
    <div
    [style.overflow]="bsco"
    [style.position]="bscp"
    [style.background-color]="bc"
    [style.background-repeat]="br"
    
    [style.background-size]="bs"
    [style.background-position]="bgp"
    [style.position]="bp"
    [style.height]="bh"
    [style.width]="bsw"></div>
    
    </ng-template>