<div [style.background-color]="fpbc"
style="height: 100%">
<div 
     style="margin-top: 60px"
     [style.padding-top]="fpmt"
     [style.font-size]="fpfs"
     [style.font-weight]="fpfw"
     [style.font-family]="fpff"
     [style.max-width]="fpmw"
     [style.border]="fpb"
     [style.padding]="fpp"
     [style.margin]="fppm"
     [style.position]="fppo"
     [style.line-height]="fplh"
     style="overflow: none"
     style="background-color: rgb(204, 204, 204)"
>
<p
[style.margin]="fpmp"
[style.text-align]="fpta"
style="background-color: rgb(204, 204, 204)"
>{{ fpt | titlecase }}&nbsp;{{objDate | date :'yyyy'}}</p>
</div>
</div>